html, body {
    background-color: black;
    opacity: ;
}
h1 {
    font-family: 'Dosis', sans-serif;
    color: #f1c40f;
    font-size: 30px;
}
h2 { 
    font-family: 'Dosis', sans-serif;
    color: #f1c40f;
    font-size: 20px;

}
p {
    font-family: 'Dosis', sans-serif;
    color: #f1c40f;
    font-size: 20px;

}
.gameboard {
    text-align: center;
    margin: 0 auto;
}

.square {
    background-color: #bdc3c7;
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid #F5D76E;
    position: relative;
    border-radius: 35px;

}

.square:hover {
    background-color: gray;
}

.playerOne {
    width: 96px;
    height: 96px;
    color: white;
    background-color: #34495e;
    border-radius: 35px; 

}
.playerOne:hover {
    background-color: #34495e;
}

.playerTwo {
    width: 96px;
    height: 96px;
    color: white;
    background-color: #EF4836;
    border-radius: 35px; 
}

button {
    background-color: grey;
    padding: 4px;
    border: 2px solid #F5D76E;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: #f1c40f;
    border-radius: 10px;
    text-align: left;
}

button:hover {
    background-color: gray;
}

